package ${package_name}.service.impl;



import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import ${package_name}.mapper.${model}Mapper;
import ${package_name}.entity.${model};
import ${package_name}.service.${model}Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;
import java.util.List;

/**
* ${model}Service实现
* Created by willow on ${ctime}.
*/
@Service(value = "${model}Service")
@Transactional
public class ${model}ServiceImpl  implements ${model}Service {

    private static final Logger LOGGER = LoggerFactory.getLogger(${model}ServiceImpl.class);

    @Autowired
    private ${model}Mapper ${mapper}Mapper;

    public List<${model}> selectList(${model} ${mapper}){
          return  ${mapper}Mapper.selectList(${mapper});
    }

    public  ${model} selectById (${primaryKeyColumnJavaType} ${primaryKeyColumn}){
          return  ${mapper}Mapper.selectById(${primaryKeyColumn});
    }

    public Integer save${model} (${model} ${mapper}){
         return  ${mapper}Mapper.save${model}(${mapper});
    }

    public Integer update${model} (${model} ${mapper}){
        return    ${mapper}Mapper.update${model}(${mapper});
    }

    public Integer delete${model} (${primaryKeyColumnJavaType} ${primaryKeyColumn}){
        return  ${mapper}Mapper.deleteById(${primaryKeyColumn});
    }

}